@keyframes slide-rtl {
	from {
		opacity: 0;
		transform: translateX(100px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes opacity-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slide-btt {
	from {
			opacity: 0;
			transform: translateY(200px);
		}
	
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
