section{
	align-items: center;
	justify-content: center;
}

section:nth-child(1) {
	gap: 4em;
	justify-content: space-between;
	backdrop-filter: none;
}

section .name {
	display: flex;
	gap: 2em;
}

section:nth-child(1) .real-name h2 {
	margin-bottom: 4px;
}

section:nth-child(1) .real-name span {
	opacity: 0.8;
}

section:nth-child(1) .real-name {
	animation: slide-btt 1s cubic-bezier(0, 0.57, 0.06, 1) 0.2s backwards;
}

section:nth-child(1) .nick-name {
	animation: slide-btt 1s cubic-bezier(0, 0.57, 0.06, 1) 0.3s backwards;
}

section:nth-child(1) img {
	animation: slide-rtl 1s cubic-bezier(0, 0.57, 0.06, 1) 0.4s backwards;
}

section img {
	height: 400px;
	border-radius: 8px;
}

section:nth-child(2) {
	display: flex;
}

section:nth-child(3){
	display: flex;
	flex-direction: column;
	gap: 2em;
}

section h2 {
	font-size: 48px;
}
