section {
	align-items: center;
	justify-content: center;
}

h2 {
	font-size: 64px;
	margin-bottom: 24px;
}

section:nth-child(1) {
	backdrop-filter: none;
}

section:nth-child(2) {
	flex-direction: row-reverse;
}
