section {
	align-items: center;
	justify-content: center;
}

section img {
	height: 400px;
	border-radius: 8px;
}

.image-info {
	flex-direction: column;
	font-size: 12px;
	text-align: center;
	margin-top: 12px;
}

.image-info b {
	margin-bottom: 8px;
}

section:nth-child(1) {
	flex-direction: row-reverse;
	backdrop-filter: none;
}

section:nth-child(2) {
	flex-direction: column;
}

.cds {
	display: flex;
	gap: 32px;
}

.cds > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
