body {
	background-position: bottom;
}

section {
	flex-direction: column;
	padding-top: 64px;
}

section:nth-child(1) {
	background-position: bottom;
	background-color: transparent;
}

section h1 {
	font-size: 48px;
	animation: slide-rtl 1s cubic-bezier(0, 0.57, 0.06, 1) 0.2s backwards;
	letter-spacing: 0.05em;
}

section p {
	animation: slide-rtl 1s cubic-bezier(0, 0.57, 0.06, 1) 0.3s backwards;
}

section img {
	width: 300px;
	border-radius: 6px;
	margin-top: 16px;
}
