* {
	box-sizing: border-box;
}

::selection {
	background-color: #ff3737;
}

body {
	font-family: "Bahnschrift", "Microsoft YaHei UI", sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #000;
	background-repeat: no-repeat;
	color: #fff;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 48px;
	padding: 0 15%;
	position: fixed;
	z-index: 10;
}

header a {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

header .menu a {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	width: 100px;
}

header .menu a:hover {
	color: rgba(255, 255, 255, 0.7);
}

header .menu a.selected {
	color: #ff3737;
	font-weight: bold;
	text-shadow: 0 2px 4px rgba(255, 55, 55, 0.8);
}

.header-logo {
	height: 60%;
	flex-shrink: 0;
	transition: all 1s cubic-bezier(0, 0.57, 0.06, 1);
}

.header-logo:hover {
	transform: rotate(1turn);
}

.menu {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	height: 100%;
}

section {
	display: flex;
	align-items: center;
	gap: 24px;
	width: 100%;
	position: sticky;
	height: 100vh;
	top: 0;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}
